<div id="all">

  <div id="content">
    <div class="container">

      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <%= link_to '首页', root_url %>
          </li>
          <li>购物车</li>
        </ul>
      </div>

      <div class="col-md-9" id="basket">

        <div class="box">

          <form method="post" action="checkout1.html">

            <h1>购物车</h1>

            <p class="text-muted">你的购物车有 <%= @cart.try(:line_items).try(:count).to_i %> 件商品</p>



            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">商品</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>折扣</th>
                    <th colspan="2">共计</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- 把购物车中的商品循环遍历，放在下面的视图模块中 -->
                  <% Hash(@line_items_by_group).each do |key, value| %>
                  <tr>
                    <td>
                      <%= image_tag(value.first.product.image_url, alt: "加载失败", class: "img-responsive") %>
                    </td>
                    <td>
                      <a href="#"><%= value.first.product.title%></a>
                    </td>
                    <td>
                      <input type="number" value="<%= value.count %>" class="form-control">
                    </td>
                    <td>￥<%= value.first.product.price %></td>
                    <td>￥0.00</td>
                    <td>￥<%= value.first.product.price * value.count %></td>
                    <td>
                      <%= link_to '删除', delete_line_item_carts_path(cart_id: value.first.cart_id, product_id: value.first.product_id), method: :delete, data: { confirm: "Are you sure?" }%>
                    </td>
                  </tr>
                  <% end %>
                  <!-- 循环结束 -->
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="5">共计</th>
                    <th colspan="2">￥<%= @total_price %></th>
                  </tr>
                </tfoot>
              </table>

            </div>
            <!-- /.table-responsive -->

            <div class="box-footer">
              <div class="pull-left">
                <%= link_to '继续购物', root_url, class: "btn btn-primary" %>
              </div>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">购物车结算
                </button>
              </div>
            </div>

          </form>

        </div>
        <!-- /.box -->

      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">
        <div class="box" id="order-summary">
          <div class="box-header">
            <h3>订单总计</h3>
          </div>
          <p class="text-muted">祝您购物开心!</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>商品总金额</td>
                  <th>￥<%= @total_price %></th>
                </tr>
                <tr>
                  <td>折扣</td>
                  <th>￥0.00</th>
                </tr>
                <tr>
                  <td>运费</td>
                  <th>￥0.00</th>
                </tr>
                <tr class="total">
                  <td>总计</td>
                  <th>￥<%= @total_price %></th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
