<body>
  <div id="all">
    <div id="content">
      <div class="container">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_url %></li>
            <li>男士短袖</li>
          </ul>
        </div>

        <div class="col-md-3">
          <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
          <%= render 'side_bar' %>

        </div>

        <div class="col-md-9">
          <div class="box">
            <h1>男士短袖</h1>
            <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
          </div>

          <div class="row products">
            <% @man_shirt.each do |f| %>

            <div class="col-md-4 col-sm-6">
              <div class="product">
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front">
                      <a href="detail.html">
                        <%= image_tag(f.image_url, alt: "加载失败", class: "img-responsive") %>
                      </a>
                    </div>
                    <div class="back">
                      <a href="detail.html">
                        <%= image_tag(f.image_url, alt: "加载失败", class: "img-responsive") %>
                      </a>
                    </div>
                  </div>
                </div>
                <a href="detail.html" class="invisible">
                  <%= image_tag(f.image_url, alt: "加载失败", class: "img-responsive") %>
                </a>
                <div class="text">
                  <h3>
                    <a href="detail.html"><%= f.title %></a>
                  </h3>
                  <p class="price"><%= sprintf("￥%0.02f", f.price) %></p>
                  <p class="buttons">
                    <a href="detail.html" class="btn btn-default">查看详情</a>
                    <a href="basket.html" class="btn btn-primary">
                      <i class="fa fa-shopping-cart"></i>加入购物车</a>
                  </p>
                </div>
                <!-- /.text -->
              </div>
              <!-- /.product -->
            </div>
            <% end %>
            <!-- /.col-md-4 -->
          </div>
          <!-- /.products -->

          <div class="pages">

            <p class="loadMore">
              <a href="#" class="btn btn-primary btn-lg">
                <i class="fa fa-chevron-down"></i>
                Load more</a>
            </p>

            <ul class="pagination">
              <li>
                <a href="#">&laquo;</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">&raquo;</a>
              </li>
            </ul>
          </div>

        </div>
        <!-- /.col-md-9 -->
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- /#all -->
</body>
